{
		bDebugSprite: true
		bMultipleInstances: false
		bWarningMultipleInstances: false
		sRendererDevice: "OpenGL 2.x"
		sWorkingDirectory: "./"
		sTitle: "Rebattre"
		sDescription: "Arkanoid"
		sPublisherName: "Seed Framework"
		iResolutionWidth: 800
		iResolutionHeight: 600
		iFrameRate: 60
		bFullScreen: false
}
