{
		bDebugSprite: false
		bMultipleInstances: false
		bWarningMultipleInstances: false
		sRendererDevice: "OpenGL 2.x"
		sWorkingDirectory: "./"
		sTitle: "Rebattre"
		sDescription: "Rebattre multiplayer game - Especialization in game development PUCPR - 2011"
		sPublisherName: "Seed Framework"
		iResolutionWidth: 800
		iResolutionHeight: 600
		iFrameRate: 60
		bFullScreen: false
}
